<div class="container">
  <div class="row">
    <div class="col-2">
		<p>
		  <kendo-dropdownlist
			  [data]="tables"
			  textField="name"
			  valueField="id"
			  [valuePrimitive]="true"
			  [(ngModel)]="selectedValue"
			  (valueChange)="handleFilterChange($event)"
		  >
		  </kendo-dropdownlist>
		</p>      
    </div>
    <div class="col-10">
		<kendo-grid
		  [pageSize]="10"
		  [pageable]="true"
		  [sortable]="true"
		  [kendoGridBinding]="dataTable"
		  [kendoGridReactiveEditing]="createFormGroup"
		  [removeConfirmation]="removeConfirmation"
		>
		  <ng-template kendoGridToolbarTemplate>
			<button kendoGridAddCommand>Add new item</button>
		  </ng-template>

	  	  <kendo-grid-column
			*ngFor="let column of table.columns"
			field="{{ column.header.toLowerCase() }}"
			title="{{ column.header }}"
			format="{{ column.format }}"
		  ></kendo-grid-column>	
		  		  
		  <kendo-grid-command-column title="command">
			<ng-template kendoGridCellTemplate let-isNew="isNew">
			  <button kendoGridEditCommand [primary]="true">Edit</button>
			  <button kendoGridRemoveCommand>Remove</button>
			  <button kendoGridSaveCommand>Save</button>
			  <button kendoGridCancelCommand>
				{{ isNew ? "Discard changes" : "Cancel" }}
			  </button>
			</ng-template>
		  </kendo-grid-command-column>
		</kendo-grid>
		<kendo-dialog
		  title="Please confirm"
		  *ngIf="itemToRemove"
		  (close)="confirmRemove(false)"
		>
		  <p style="margin: 30px; text-align: center;">
			Are you sure you want to delete product {{ itemToRemove.ProductName }}?
		  </p>
		  <kendo-dialog-actions>
			<button kendoButton (click)="confirmRemove(false)">No</button>
			<button
			  kendoButton
			  themeColor="primary"
			  (click)="confirmRemove(true)"
			>
			  Yes
			</button>
		  </kendo-dialog-actions>
		</kendo-dialog>	
    </div>
  </div>
</div>